<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/checkout.css">
        <title>Checkout</title>
    </head>
    <body>
        <header class="head">
            <div class="left-side">
                <button class="sidebar"><img class="sidebar-img" src="Logos/Sidebar.png" alt=""></button>
            </div>
            <div class="middle">
                <a href="/" class="homepage-click"><img src="Logos/Website-logo.png" class="web-logo" alt=""></a>
            </div>
            <div class="right-side">
                <form action="/search" method="post" class="search-box">
                    <input type="text" name="user-input" class="searchbar" placeholder="Search">
                    <button class="search"><img class="search-logo" src="Logos/search.png" alt=""></button>
                </form>
                <form action="/cart" method="get">
                    <button class="cart-but"><img class="cart-img" src="Logos/Cart.png" alt=""></button>
                </form>
                <% if(cart_count[0].count > 0) { %>
                    <button class="notifications">
                        <%= cart_count[0].count %>
                    </button>
                <% } %>
                <% if(user.length>0) { %>
                    <div class="username">
                        <p class="welcome-text">Welcome <%= user[0]['name'] %> </p>
                        <form action="/signout" method="get">
                            <button class="signout-but">Signout</button>
                        </form>
                    </div>
                <% } else {%>
                    <form action="/login" method="get">
                        <button class="login">Login</button>
                    </form>
                <% } %>
            </div>
        </header>
        <form action="/completecheckout" method="post">
            <div class="checkout">
                <div class="checkout-list">
                    <div class="address">
                        <p><strong>Address</strong></p>
                        <input type="text" name="house_num" placeholder="Please Enter Your House Number">
                        <input type="text" name="street_name" placeholder="Please Enter Your Street Name">
                        <input type="text" name="city" placeholder="Please Enter Your City Name">
                        <input type="text" name="province" placeholder="Please Enter Your Province">
                    </div>
                    <div class="billing">
                        <p><strong>Information</strong></p>
                        <p>Total Items: <%= item_count %></p>
                        <p>Price Before Taxes: $<%= total_price[0].price.toFixed(2) %></p>
                        <p>Total Price: $<%= ((total_price[0].price*0.13) + (total_price[0].price)).toFixed(2) %> </p>
                    </div>
                </div>
                <button class="checkout-button">Complete Checkout</button>
            </div>
        </form>
    </body>
</html>